--
-- PostgreSQL database dump
--

\restrict BBtWUCqDmsksi1vfvZbXVToxcgEUBWkxFbpMkDz1UcDFuojM6DT7QLwMlMLcU3w

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Batch; Type: TABLE; Schema: public; Owner: tasu
--

CREATE TABLE public."Batch" (
    id text NOT NULL,
    number text NOT NULL,
    city text NOT NULL,
    "driverName" text DEFAULT ''::text NOT NULL,
    "driverPhone" text DEFAULT ''::text NOT NULL,
    "carNumber" text DEFAULT ''::text NOT NULL,
    "deliveryCost" text DEFAULT ''::text NOT NULL,
    "requestIds" text NOT NULL,
    "companyId" text,
    status text DEFAULT 'created'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Batch" OWNER TO tasu;

--
-- Name: Company; Type: TABLE; Schema: public; Owner: tasu
--

CREATE TABLE public."Company" (
    id text NOT NULL,
    name text NOT NULL,
    bin text NOT NULL,
    address text NOT NULL,
    "factAddress" text DEFAULT ''::text NOT NULL,
    phone text DEFAULT ''::text NOT NULL,
    director text DEFAULT ''::text NOT NULL,
    email text DEFAULT ''::text NOT NULL,
    bank text DEFAULT ''::text NOT NULL,
    bik text DEFAULT ''::text NOT NULL,
    account text DEFAULT ''::text NOT NULL,
    kbe text DEFAULT ''::text NOT NULL,
    "bankDetails" text DEFAULT ''::text NOT NULL,
    "managerDetails" text DEFAULT ''::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    logo text
);


ALTER TABLE public."Company" OWNER TO tasu;

--
-- Name: Contract; Type: TABLE; Schema: public; Owner: tasu
--

CREATE TABLE public."Contract" (
    id text NOT NULL,
    number text NOT NULL,
    date text NOT NULL,
    type text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    "companyId" text NOT NULL,
    "companyName" text,
    "customerName" text,
    "actId" text,
    details text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "counterpartyId" text,
    "directorName" text,
    "directorPosition" text
);


ALTER TABLE public."Contract" OWNER TO tasu;

--
-- Name: Counterparty; Type: TABLE; Schema: public; Owner: tasu
--

CREATE TABLE public."Counterparty" (
    id text NOT NULL,
    name text NOT NULL,
    phone text DEFAULT ''::text NOT NULL,
    email text DEFAULT ''::text NOT NULL,
    "companyName" text DEFAULT ''::text NOT NULL,
    bin text DEFAULT ''::text NOT NULL,
    address text DEFAULT ''::text NOT NULL,
    bank text DEFAULT ''::text NOT NULL,
    bik text DEFAULT ''::text NOT NULL,
    account text DEFAULT ''::text NOT NULL,
    kbe text DEFAULT ''::text NOT NULL,
    "companyId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    director text DEFAULT ''::text NOT NULL
);


ALTER TABLE public."Counterparty" OWNER TO tasu;

--
-- Name: Expense; Type: TABLE; Schema: public; Owner: tasu
--

CREATE TABLE public."Expense" (
    id text NOT NULL,
    date text NOT NULL,
    category text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    amount double precision NOT NULL,
    "docNumber" text DEFAULT ''::text NOT NULL,
    "companyId" text,
    "userId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Expense" OWNER TO tasu;

--
-- Name: Request; Type: TABLE; Schema: public; Owner: tasu
--

CREATE TABLE public."Request" (
    id text NOT NULL,
    status text DEFAULT '╨Ч╨░╤П╨▓╨║╨░'::text NOT NULL,
    date text NOT NULL,
    "companyId" text NOT NULL,
    "managerId" integer NOT NULL,
    type text DEFAULT 'REQUEST'::text NOT NULL,
    route text,
    cargo text,
    "docNumber" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    details text,
    "totalSum" text DEFAULT ''::text,
    "completedAt" timestamp(3) without time zone
);


ALTER TABLE public."Request" OWNER TO tasu;

--
-- Name: Tariff; Type: TABLE; Schema: public; Owner: tasu
--

CREATE TABLE public."Tariff" (
    id text NOT NULL,
    city text NOT NULL,
    "pricePerKg" double precision DEFAULT 0 NOT NULL,
    "deliveryPrice" double precision DEFAULT 0 NOT NULL,
    "companyId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Tariff" OWNER TO tasu;

--
-- Name: User; Type: TABLE; Schema: public; Owner: tasu
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    role text DEFAULT 'MANAGER'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "plainPassword" text
);


ALTER TABLE public."User" OWNER TO tasu;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: tasu
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_seq" OWNER TO tasu;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: tasu
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: tasu
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO tasu;

--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: tasu
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Name: Batch Batch_pkey; Type: CONSTRAINT; Schema: public; Owner: tasu
--

ALTER TABLE ONLY public."Batch"
    ADD CONSTRAINT "Batch_pkey" PRIMARY KEY (id);


--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: tasu
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (id);


--
-- Name: Contract Contract_pkey; Type: CONSTRAINT; Schema: public; Owner: tasu
--

ALTER TABLE ONLY public."Contract"
    ADD CONSTRAINT "Contract_pkey" PRIMARY KEY (id);


--
-- Name: Counterparty Counterparty_pkey; Type: CONSTRAINT; Schema: public; Owner: tasu
--

ALTER TABLE ONLY public."Counterparty"
    ADD CONSTRAINT "Counterparty_pkey" PRIMARY KEY (id);


--
-- Name: Expense Expense_pkey; Type: CONSTRAINT; Schema: public; Owner: tasu
--

ALTER TABLE ONLY public."Expense"
    ADD CONSTRAINT "Expense_pkey" PRIMARY KEY (id);


--
-- Name: Request Request_pkey; Type: CONSTRAINT; Schema: public; Owner: tasu
--

ALTER TABLE ONLY public."Request"
    ADD CONSTRAINT "Request_pkey" PRIMARY KEY (id);


--
-- Name: Tariff Tariff_pkey; Type: CONSTRAINT; Schema: public; Owner: tasu
--

ALTER TABLE ONLY public."Tariff"
    ADD CONSTRAINT "Tariff_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: tasu
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: tasu
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Batch_number_key; Type: INDEX; Schema: public; Owner: tasu
--

CREATE UNIQUE INDEX "Batch_number_key" ON public."Batch" USING btree (number);


--
-- Name: Company_bin_key; Type: INDEX; Schema: public; Owner: tasu
--

CREATE UNIQUE INDEX "Company_bin_key" ON public."Company" USING btree (bin);


--
-- Name: Request_companyId_idx; Type: INDEX; Schema: public; Owner: tasu
--

CREATE INDEX "Request_companyId_idx" ON public."Request" USING btree ("companyId");


--
-- Name: Request_docNumber_key; Type: INDEX; Schema: public; Owner: tasu
--

CREATE UNIQUE INDEX "Request_docNumber_key" ON public."Request" USING btree ("docNumber");


--
-- Name: Request_status_idx; Type: INDEX; Schema: public; Owner: tasu
--

CREATE INDEX "Request_status_idx" ON public."Request" USING btree (status);


--
-- Name: Request_type_idx; Type: INDEX; Schema: public; Owner: tasu
--

CREATE INDEX "Request_type_idx" ON public."Request" USING btree (type);


--
-- Name: Tariff_city_key; Type: INDEX; Schema: public; Owner: tasu
--

CREATE UNIQUE INDEX "Tariff_city_key" ON public."Tariff" USING btree (city);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: tasu
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Request Request_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tasu
--

ALTER TABLE ONLY public."Request"
    ADD CONSTRAINT "Request_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Request Request_managerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tasu
--

ALTER TABLE ONLY public."Request"
    ADD CONSTRAINT "Request_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict BBtWUCqDmsksi1vfvZbXVToxcgEUBWkxFbpMkDz1UcDFuojM6DT7QLwMlMLcU3w

