/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */



/* Дополнительные вспомогательные стили */
.text_danger {
  color: #ff4d4f !important;
  font-weight: bold;
  margin-left: 2px;
}

input.error, 
textarea.error {
  border: 1px solid #ff4d4f !important;
  background-color: #fff2f0 !important;
}

.badge--draft {
  background: #f0f2f5;
  color: #595959;
}

.badge--ttn {
  background: #f6ffed;
  color: #389e0d;
  border: 1px solid #b7eb8f;
}

.badge.badge--danger {
  background: #fff1f0 !important; 
  color: #cf1322 !important;
  border: 1px solid #ffa39e !important;
}
